<footer class="bd-footer py-5 mt-5 bg-light">
    <div class="container con-textfooter">
      <div class="row justify-content-center ms-5">
        <div class="col-lg-3 mb-3 p-4">
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">@ Ciniflix Footer</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>