
    <div class="step-bar">
        <div class="container">
            <ul class="desktop">
                <li class="step-item active">
                    <a href="#" class="process-booking">
                    <div class="no">
                        1
                    </div>
                    <div class="step-name">เลือกรอบฉาย</div>
                </a>
            </li>
            <li class="step-item">
                <a href="#" class="process-booking">
                    <div class="no">
                        2
                    </div>
                    <div id="step-two">เลือกที่นั่ง</div>
                </a>
            </li>
            <li class="step-item">
                <a href="#" class="process-booking">
                    <div class="no">
                        3
                    </div>
                    <div class="step-name">การชำระเงิน</div>
                </a>
            </li>
            <li class="step-item">
                <a href="#" class="process-booking">
                    <div class="no">
                        4
                    </div>
                    <div id="step-four">สิ้นสุด</div>
                </a>
            </li>
        </ul>
    </div>
</div>
