body{
    background: rgb(0, 0, 0);
} 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row1{
    background-color: white;
    border-radius: 20px;
}
.img-pic{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.login-right{
    margin-top: 100px;
    
}
.btn-login{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    color: white; 
    font-weight: bold;
    background-image: linear-gradient(45deg, #cf15aa 0%,#333399 100% ) !important;
}
.text-headlogin{
    background-image: linear-gradient(45deg,#ff00cc, #333399) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
