body{
    background: black;
} 
/*#search{
    outline: none;
}*/
/*sign up*/
.signUp-right{
    position: absolute;
    width: 500px;
    margin-top: 300px;
    margin-left: 1250px;
    
}
.form-control{
    width: 500px;
    margin-bottom: 20px;
}
.fa-user-plus{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 35px;
    font-size: 3.2em;
}
.imglogin-left{
    position: absolute;
    width: 1000px; 
    height:1000px;
}

/*log in*/
.login-right{
    position: absolute;
    width: 500px;
    margin-top: 350px;
    margin-left: 1250px;
}
.fa-user{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 35px;
    font-size: 3.2em;
}
#remember{
    color: white;
}
.button-area{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}