<%- include('partials/secondHeader.ejs') %>
<div class="Form my-5 mx-5">
    <div class="container container-login" >
        <div class="row row1 no-gutters">
            <div class="col col-lg-5 col-6 ">
                <img class=" image-fluid img-pic" style="width:500px;" src="/images/sign-in-up.jpg">
            </div>

            <div class="col col-7 px-5 pt-5 login-right">
                <h1 class="font-weight-bold py-3 text-center text-headlogin">Log In <i class="fa fa-user text-light"></i></h1>
                <h6 class="text-center">Sign in to your account</h6>
                <form action="/login" method="POST">
                    

                    <div class="row justify-content-center">
                        <div class="col-lg-7 form-floating">
                            <input type="text" class="form-control my-3 p-4" name="username" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Username</label>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-7 form-floating">
                            <input type="password" class="form-control my-3 p-4" name="password" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                    </div>

                    <div class="row button-area justify-content-center">
                        <div class="col-lg-7">
                            <button class="btn-login mt-4 mb-5 justify-content-center rounded-pill" id="logInButton">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/secondFooter.ejs') %>