<%- include('partials/secondHeader.ejs') %>
<h1>Register Admin</h1>
  <div class="container-signUp">
    <form action="/regAdmin" method="POST">
      <div class="signUp-left">
        <img class="imglogin-left" src="https://i.pinimg.com/originals/fc/1d/82/fc1d82ed5ea152597ce8decb0b526d90.jpg">
      </div>

      <div class="signUp-right">
        <i class="fa fa-user-plus"></i>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
          <label for="floatingInput">User name</label>
        </div>
        <div class="form-floating">
          <input type="tel" class="form-control" id="floatingInput" name="phone" placeholder="name@example.com">
          <label for="floatingInput">Phone number</label>
        </div>
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
          <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingInput" name="password" placeholder="name@example.com">
          <label for="floatingInput">Password</label>
        </div>
        
        <div class="button-area">
          <button class="btn btn-primary" id="signUpButton">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
<%- include('partials/secondFooter.ejs') %>