<%- include('partials/header.ejs') %>
</head>
<body>
<%- include('partials/navbar.ejs') %>

    <div class="container-theater">
        <div class="img-headerTheater">
            <img src="https://image.freepik.com/free-photo/rows-red-seats-theater_53876-64710.jpg" id="headImg">
        </div>
    </div>

    <div class="brand-wrapper row">

        <div class="icon-wrapper">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4f1c7366298871.5b112a7571eeb.png"
                class="type-theater" alt="Emprivé Cineclub">
        </div>

        <div class="icon-wrapper">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4f1c7366298871.5b112a7571eeb.png"
                class="type-theater" alt="SF World Cinema">
        </div>

        <div class="icon-wrapper">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4f1c7366298871.5b112a7571eeb.png"
                class="type-theater" alt="SFX Cinema">
        </div>

        <div class="icon-wrapper">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4f1c7366298871.5b112a7571eeb.png"
                class="type-theater" alt="SF Cinema">
        </div>

    </div>

    <div id="anchor-system" class="section-system">
        <div class="system-tab">
            <div class="system-title active">ระบบฉาย</div>
        </div>
        <div class="tab-wrapper">
            <div class="system-item" style="width: 100%; display: inline-block;"><img
                    src="https://m.thaiware.com/upload_misc/software/2020_09/thumbnails/8839_200929134022x8.png"
                    alt="MX4D Cinema">
                <div class="system-wrapper">
                    <div class="system-text">MX4D Cinema</div>
                </div>
            </div>
            <div class="system-item" style="width: 100%; display: inline-block;"><img
                    src="https://m.thaiware.com/upload_misc/software/2020_09/thumbnails/8839_200929134022x8.png"
                    alt="DOLBY ATMOS">
                <div class="system-wrapper">
                    <div class="system-text">DOLBY ATMOS</div>
                </div>
            </div>
            <div class="system-item" style="width: 100%; display: inline-block;"><img
                    src="https://m.thaiware.com/upload_misc/software/2020_09/thumbnails/8839_200929134022x8.png"
                    alt="3D Cinema">
                <div class="system-wrapper">
                    <div class="system-text">3D Cinema</div>
                </div>
            </div>
            <div class="system-item" style="width: 100%; display: inline-block;"><img
                    src="https://m.thaiware.com/upload_misc/software/2020_09/thumbnails/8839_200929134022x8.png"
                    alt="4K">
                <div class="system-wrapper">
                    <div class="system-text">4K</div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <%- include('partials/footer.ejs') %>