<%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/lodingScreen.ejs') %>
<%- include('../partials/navbar.ejs') %>

    <div class="container addMovie-container">
        <form action="/movies/new" method="POST" enctype="multipart/from-data">
            <i class="fa fa-upload"></i>
            <div class="form-floating">
                <input type="text" class="form-control addMovie" id="floatingInput"name="movies[name]" placeholder="moviename">
                <label for="floatingInput">Movie name</label>
            </div>
            <!-- <div class="form-floating">
                <input type="text" class="form-control addMovie"id="floatingInput" name="image" placeholder="URL">
                <label for="floatingInput">Image URL</label>
            </div> -->
            <div class="form-floating">
                <input type="file" class="form-control addMovie"id="floatingInput" name="image" accept="image/*">
                <label for="floatingInput">Image</label>
            </div>    
            <div class="form-floating">
                <input type="text" class="form-control addMovie"id="floatingInput" name="movies[type]" placeholder="Movie Type">
                <label for="floatingInput">Type</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control addMovie" name="movies[time]" placeholder="Time of movie">
                <label for="floatingInput">Time</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control addMovie"id="floatingInput" name="movies[language]" placeholder="Language of movie">
                <label for="floatingInput">Language</label>
            </div>
            <button type="submit" class="btn btn-primary btn-add">Add</button><br>
            <a href="/movies" class="go-back"> << Go backk</a>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>