body{
    background-color: black;
}
.card-body{
    display: none;
}
.img-eachmovie{
    margin-top: 0px;
}
.container-right{
    width: 560px;
    height: 500px;
}
#each-movie-type{
    margin-left: 30px;
}
#each-movie-time{
    margin-left: 30px;
}
#each-movie-sub{
    margin-left: 30px;
}
.desktop{
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 50px;
    list-style: none;
}
.no{
    display: flex;
    justify-content: center;
    padding-top: 6px;
    background-color: white;
    margin-left: 15px;
    border-radius: 100%; 
    width: 50px;
    height: 50px;
    color: gray;
    font-size: 1.4em;
}
.process-booking{
    text-decoration: none;
    outline-style: none;
}
.step-name{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
}
#step-two{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
    margin-left: 10px;
}
#step-four{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}
.head-review{
    display: flex;
    justify-content: center;
    position: relative;
}
.comment-container{
    margin-left: 500px;
    width: 900px;
    background-color: white;
    border-radius: 2px;
    padding:10px;
    margin-bottom: 20px;
}

.row{
    justify-content: center;
}
.head-review{
    color: white;
}
.fa-edit{

    font-size: 1.4em;
}.fa-heart{
    font-size: 1.2em;;
}
.like-btn{
    float: right;
}
.wrap-desc{
    display: block;
    z-index: -1;
}
.profile-box{
    border-image: linear-gradient(45deg, #ff00cc 0%,#333399 100%) 1;
}
.major-box{
    background-image: linear-gradient(0deg, #ff00cc 0%,#333399 100% ) !important;
}
.btn-schedule{
    background-image: linear-gradient(0deg, #ff00cc 0%,#333399 100% ) !important;
}
.comment-container{
    border-image: linear-gradient(45deg, #ff00cc 0%,#333399 100%) 1;
}
.btn-addcomment{
    background-image: linear-gradient(0deg,#ff00cc, #333399) !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}